[submodule "third_party/random"]
	path = third_party/random
	url = https://github.com/effolkronium/random.git
[submodule "third_party/expected"]
	path = third_party/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "third_party/KDSingleApplication"]
	path = third_party/KDSingleApplication
	url = https://github.com/KDAB/KDSingleApplication.git
[submodule "qml_material"]
	path = qml_material
	url = https://github.com/hypengw/QmlMaterial.git
[submodule "service/jellyfin"]
	path = service/jellyfin
	url = https://github.com/hypengw/qcm-jellyfin-plugin.git
