[Desktop Entry]
Name=Qcm
Comment=Qt client for netease cloud music
Exec=Qcm %U
Type=Application
Icon=io.github.hypengw.Qcm
Categories=Audio;AudioVideo
